*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#sidebar{
    width: 20%;
    height: 100%;
    border-right: 2px solid #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar > div > img{
    width: 99%;
    overflow-x: hidden;
}
#sidebar-content{
    display: flex;
    flex-direction: column;
}
#sidebar-content > span{
    line-height: 3rem;
    text-align: center;
    font-size: larger;
}
#sidebar-content > span::before{
    content: '➨';
}
#sidebar-content > span:hover{
    line-height: 3rem;
    text-align: center;
    font-size: larger;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
#content-disp{
    width: 80%;
}
#top-bar > input{
    font-size: larger;
    outline: none;
    border: none;
    width: 60%;
    height: 5%;
    margin: 1% 2%;
    padding: 0% 2%;
}
#top-bar > img{
    transform: scale(1.2);
    cursor: pointer;
}
#content-grid{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
    color: #000;
    padding-left: 10%;
}
#content-grid > span{
    padding: 5%;
    box-shadow: 0px 0px 5px #000;
    margin: 5%;
}
#cont-list{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cont-list > span{
    font-size: larger;
    font-weight: 700;

}